<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand   text-light" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" href="#">Categories</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="home" >
  <div class="alert-message">
    <p>{{message}}</p>
    
  </div>
  <app-article  *ngFor="let liste of listes"
   [titrearticle]="liste.titrearticle"
   [disponiblearicle]="liste.disponiblearicle"
    [prixarticle]="liste.prixarticle"
     [descriptionarticle]="liste.descriptionarticle"
      [commentearticle]="commente"
       [textimagearticle]="textimage" 
       [imagearticle]="liste.imagearticle" 
        (info)=" onaffiche($event)" />
 
 
</div>



<footer class="py-5 bg-dark">
  <p class="text-light text-center ">copyrigth &copy; product by Mansour</p>
</footer>